@{
    ViewData["Title"] = "Confirm page";
}
<!doctype html>
<html>

<head>
    <style>
        input {
            width: 250px;
            height: 25px;
        }

        p {
            font-size: 25px;
            width: 60%;
            align-items: center;
            margin-left: 10px;
            margin-bottom: 10px;
        }

        img {
            margin-top: 50px;
            margin-right: 30px;
        }

        .down {
            background-color: rgb(192, 190, 190);
            text-align: center;
            word-spacing: 50px;
            font-size: 20px;
        }

        body {
            background-color: #ffffff;
            
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-image: url('../medical.jpg');
            background-size:contain;
        }

        .section1 {
           
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            height: 100vh;
            
        }

           
    </style>
</head>

<body style=" background-color:rgb(255, 255, 255); background-size: contain ; background-position: center;  background-attachment: fixed; ">

    
    <div style="width: 90%;background-color:rgba(15, 63, 45, 0.8) ; align-content: center ; margin-top: 50px; margin-left: 50px; border-radius: 20px; ">
        <br>
        <br>
        <br>
        <h1 align=center style=" font-size: 50px; color: #ffffff;">Thank you for using our website!</h1>
        <br>

        <br>
        <br>
        <br>


    </div>
 
    <br>
    <br>
    <br>

</body>

</html>