@{
    ViewData["Title"] = "Contact Us";
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <style>
        header .header {
            background-color: #fff;
            height: 45px;
        }

        header a img {
            width: 134px;
            margin-top: 4px;
        }


        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }

            .login-page .form .login {
                margin-top: -31px;
                margin-bottom: 26px;
            }

        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 400px;
            margin: 50px auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

            .form input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }

            .form button {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background-color: #328f8a;
                background-image: linear-gradient(45deg, #328f8a, #08ac4b);
                width: 100%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
            }

            .form .message {
                margin: 15px 0 0;
                color: #b3b3b3;
                font-size: 12px;
            }

                .form .message a {
                    color: #4CAF50;
                    text-decoration: none;
                }

        .container {
            position: relative;
            z-index: 1;
            max-width: 300px;
            margin: 0 auto;
        }

        body {
            background-color: #ffffff;
            background-image: linear-gradient(45deg, #676768, #ffffff);
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>

</head>

<body>


    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h3>Contact Us Form</h3>
                    <p>Please enter your Problim.</p>
                </div>
            </div>
            <form method="post" class="login-form" asp-controller="Home" asp-action="Index13">
                <input type="text" placeholder="name" required />
                <input type="text" placeholder="Email" required />
                <input type="text" placeholder="Phone" required />
                <textarea name="Problim" placeholder="Write Your Problim" id="" cols="30" rows="10"></textarea>

                <button href="https://localhost:7026/Home/Index13">Submit</button>
               
            </form>
        </div>
    </div>



</body>

</html>